*.svg
*.md
*.lock
*.png
*.otf
*.snap
*.txt
package.json
package-lock.json
/node_modules
/dist
.dockerignore
.DS_Store
.eslintignore
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
.flowconfig
/public
cloudbuild.yaml
.eslintrc
.prettierrc
nginx.conf
